.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "navbar profile";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 11fr;
    gap: 10px;
}
.app-wrapper-content{
    grid-area: profile;
    background-color: orange;
    border-radius: 50px;
    padding: 30px;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
